<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Welcome!</h1>
                <h3>This is the personal website of Hannah Haberkern.</br>
                  I'm a neuroscientist studying visually guided navigation in fruit flies.
                  Activities I enjoy in my free time include sewing, gardening and observing animals.
                </h3>
                </br>
                <!-- TODO: add more description here -->
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
