<div id="headerwrap"  class="tinted-image">
  <div class="bannercover">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <h1 style="text-transform: uppercase;">Hannah Haberkern</h1>
                <div class="ani-line"></div>
                <h3 style="color: white; font-weight: 500;">Welcome to my personal website.</h3>
                <h3 class="fadetext" style="font-size:20px;">I'm a neuroscientist studying visually guided navigation.</br>
                  I also enjoy sewing, gardening and programming. </br>
                  Or I like to simply look at plants and animals.
                </h3>
                </br>
                </br>

                <section class="fadetextnext">
                  <h3 style="color:white; font-size:20px;">
                    Learn more
                  </h3>
                  <a href="#slide" id="top" style="color:{{ site.colors.navlink }}"><i class="fas fa-chevron-down fa-2x"></i></a>
                </section>

            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
  </div>
</div><!-- /headerwrap -->

<section id="slide">
  <div id="mybanner">

  </div> <!-- /container -->
</section>

<div id="mybanner">
  <div class="container">
    <h4 style="font-size: 20px;">
      It is a sign of non love that is to say a sin, to form a finished image of ones neighbors.
    </h4>
    <h4 style="color: {{ site.colors.secondary}}">
      Jedes Bildnis ist eine Sünde. Es ist genau das Gegenteil von Liebe [...]
      Wenn man einen Menschen liebt, so läßt man ihm doch jede Möglichkeit offen
      und ist trotz allen Erinnerungen einfach bereit, zu staunen,
      immer wieder zu staunen, wie anders er ist, wie verschiedenartig und
      nicht einfach so, nicht ein fertiges Bildnis [...]
    </h4>
    <h5 class="quoteSouce">
      - Max Frisch, <i>Stiller</i>
    </h5>
  </div>
</div> <!-- /container -->
