<div id="headerwrap"  class="tinted-image">
  <div class="bannercover">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <h1 style="text-transform: uppercase;">Hannah Haberkern</h1>
                <div class="ani-line"></div>
                <h3 style="color: white; font-weight: 500;">Welcome to my personal website.</h3>
                <h3 class="fadetext" style="font-size:20px;">I'm a neuroscientist interested in <br>
                   how complex behaviors arise from the interplay <br>
                   of an animal’s nervous system, its internal state and its environment. <br>
                </h3>
                <br>
                <br>

                <section class="fadetextnext">
                  <h3 style="color:white; font-size:20px;">
                    Learn more
                  </h3>
                  <a href="#slide" id="top" style="color:{{ site.colors.navlink }}"><i class="fas fa-chevron-down fa-2x"></i></a>
                </section>

            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
  </div>
</div><!-- /headerwrap -->

<section id="slide">
</section>

<div id="mybanner">
  <div class="container">
    <h4 style="color: {{ site.colors.secondary}}">
      "To doubt everything, or, to believe everything, are two equally convenient solutions; both dispense with the necessity of reflection."
    </h4>
    <h5 class="quoteSouce">
      - Henri Poincare, <i> La Science et l'Hypothèse (1905)</i>
    </h5>
  </div>
</div> <!-- /container -->
