
<div class="container mtb">
  <p>
    I spent the last few years developing behavioral paradigms for studying
    visually-guided navigation in head-fixed walking flies. These paradigms
    were designed to be compatible with two-photon calcium imaging. At the
    moment I’m working on porting these paradigms to an imaging rig with the
    goal of combining behavioral and neurophysiological studies of navigation.
  </p>
  <br>
</div>

<div class="container mtb">
  <h3 class="centered">
    Past projects
  </h3>
  <br>

  <div class="portfolioFilter clearfix centered">
      <a href="#" data-filter="*" class="current">All</a>
      <a href="#" data-filter=".conditioning">Conditioning</a>
      <a href="#" data-filter=".fly">Flies</a>
      <a href="#" data-filter=".vr">Virtual Reality</a>
      <a href="#" data-filter=".treadmill">Treadmill</a>
      <!-- <a href="#" data-filter=".modeling">Modeling</a> -->
  </div>

  <div id="portfoliowrap">
      <div class="portfolio-centered">
          <div class="recentitems portfolio">
              {% for project in site.projects limit:include.limit %}
                <div class="{{ project.topics }}">
                    <div class="portfolio-item">
                        <div class="he-wrap tpl6">
                          <img src="{{ "/assets/img/project/" | prepend: site.baseurl }}{{ project.img }}" alt="">
                          <div class="he-view">
                              <div class="bg a0" data-animate="fadeIn">
                                  <a href="{{  project.url | prepend: site.baseurl }}">
                                    <h3 class="a1" data-animate="fadeInDown">{{ project.title }}</h3>
                                    <p class="a1" data-animate="fadeInUp"> {{ project.summary }}</p>
                                  </a>
                              </div><!-- he bg -->
                            </div><!-- he view -->
                         </div><!-- he wrap -->
                    </div><!-- end col-12 -->
                </div><!-- tags -->
              {% endfor %}
          </div><!-- portfolio -->
          <div class="container mtb" >
            <p><br/><a href="/portfolio/" class="btn btn-theme">Top</a></p>
          </div>
      </div><!-- portfolio container -->
  </div><!--/Portfoliowrap -->
</div>
