<div class="container mtb">
  <br>

  <div class="portfolioFilter clearfix centered">
      <a href="#" data-filter="*" class="current">All</a>
      <a href="#" data-filter=".learning">Learning</a>
      <a href="#" data-filter=".fly">Flies</a>
      <a href="#" data-filter=".vr">Virtual Reality</a>
      <a href="#" data-filter=".behavior">Behavior</a>
      <a href="#" data-filter=".unrestrained">Unrestrained</a>
      <!-- <a href="#" data-filter=".modeling">Modeling</a> -->
  </div>

  <div id="portfoliowrap">
      <div class="portfolio-centered">
          <div class="recentitems portfolio">
              {% for project in site.projects limit:include.limit %}
                <div class="{{ project.topics }}">
                    <div class="portfolio-item">
                        <div class="he-wrap tpl6">
                          <img src="{{ "/assets/img/project/" | prepend: site.baseurl }}{{ project.img }}" alt="">
                          <div class="he-view">
                              <div class="bg a0" data-animate="fadeIn">
                                  <a href="{{  project.url | prepend: site.baseurl }}">
                                    <h3 class="a1" data-animate="fadeInDown">{{ project.title }}</h3>
                                    <p class="a1" data-animate="fadeInUp"> {{ project.summary }}</p>
                                  </a>
                              </div><!-- he bg -->
                            </div><!-- he view -->
                         </div><!-- he wrap -->
                    </div><!-- end col-12 -->
                </div><!-- tags -->
              {% endfor %}
          </div><!-- portfolio -->
          <!--<div class="container mtb" >
            <p><br/><a href="{{ "/research/#pastprojects" | prepend: site.baseurl }}" class="btn btn-theme">Top</a></p>
          </div> -->
      </div><!-- portfolio container -->
  </div><!--/Portfoliowrap -->
</div>
