

<div class="verticalGallery">
    <div class="imcontainer">

      {% for img in page.carousel %}
          <div class="imcolumn">
              <img src="{{ "/assets/img/project/carousel/" | prepend: site.baseurl }}{{ img }}" alt="" style="filter: grayscale(100%)" />
              <div class="imbutton">
                  <a data-rel="prettyPhoto[pp_gal]" href="{{ "/assets/img/project/carousel/" | prepend: site.baseurl }}{{ img }}" class="dmbutton">
                      <i class="fa fa-search-plus"></i>
                  </a>
              </div>
          </div>

      {% endfor %}

    </div>

</div>
